
/* General container for the map page */
.emergency-container {
 
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  background: #f7f3f9;
  padding: 20px;
  min-height: 100vh;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 200px;

}

/* Header with the back button and title */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: white;
}

.back-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.medbay-title {
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

/* Container for the map and destination selection */
.map-container {
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
  text-align: center;
}

.map-title {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Dropdown for location selection */
select {
  font-size: 16px;
  padding: 8px;
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Style for the map itself */
#emergency-map {
  height: 500px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Styling for the time and distance metrics */
.metrics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.distance, .time {
  font-size: 18px;
  font-weight: bold;
}

/* Path type and alert message */
.path-type {
  font-size: 16px;
  margin-top: 10px;
  color: #007bff;
}

.alert-message {
  font-size: 16px;
  margin-top: 10px;
  color: #d9534f;
}

/* Buttons and status */
.notification-buttons {
  margin-top: 20px;
}

.destination-status {
  margin-top: 10px;
  font-size: 16px;
  color: green;
  font-weight: bold;
}

/* Styling for the selected destination */
.destination-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* OTP button styles */
.navigate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.navigate-button:hover {
  background-color: #0056b3;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Set text color to black or your desired color */
}

.nav-link:hover,
.nav-link:focus {
  color: #007bff; /* Set color on hover/focus if needed */
}

.nav-link img.contact-image {
  margin-right: 8px; /* Adjust margin if needed */
}

.nav-text {
  font-size: 16px; /* Adjust font size if needed */
}
